<section th:fragment="header" th:remove="tag" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="sixteen columns">

            <!-- Logo -->
            <div id="logo">
                <h1><a href="/"><img src="/images/logo.png" alt="SFL"/></a></h1>
            </div>

            <!-- Menu -->
            <nav id="navigation" class="menu">
                <ul id="responsive">

                    <li><a th:href="@{/admin}">Vacations</a>
                        <ul>
                            <li><a th:href="@{/admin/home/vacations-disposed-from-outdated}">From outdated</a></li>
                            <li><a th:href="@{/admin/home/vacations-disposed-balanced}">Balanced</a></li>
                        </ul>
                    </li>
                    <li><a  th:href="@{/admin/employees/time-off-requests}">Pending requests</a>
                    </li>
                    <li><a  th:href="@{/admin/under-construction}">Activity</a>
                    </li>
                    <li><a th:href="@{/admin/company-configurations}">Company</a>
                    </li>
                    <li><a th:href="@{/employee/home}">I'm employee</a>
                        <ul>
                            <li><a th:href="@{/employee/non-approved-requests}">My pending requests</a></li>
                            <li><a th:href="@{/employee/under-construction}">Time-off summary.</a></li>
                        </ul>
                    </li>
                </ul>


                <ul class="responsive float-right">
                    <li><a th:href="@{/logout}"><i class="fa fa-sign-out"></i> LOG OUT</a></li>
                </ul>

            </nav>

            <!-- Navigation -->
            <div id="mobile-navigation">
                <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
            </div>

        </div>
    </div>
</section>