<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/home">


<!--<section layout:fragment="top-banner" th:remove="tag"></section>-->

<section layout:fragment="content" th:remove="tag">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar">
        <div class="container">
            <div class="ten columns">
                <nav id="breadcrumbs">
                    <ul>
                        <li>You are here:</li>
                        <li>Edit Company Configurations - Final Step</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <!-- Content
    ================================================== -->


    <!-- Container -->
    <div class="container" id="content">

        <!-- Submit Page -->
        <div class="sixteen columns">
            <div class="submit-page">
                <form
                        th:action="${flowExecutionUrl}"
                        th:object="${company}"
                        method="post" class="register" id="final">


                    <!-- Industry -->
                    <div class="form  required-field">
                        <h5>Working hour schemes</h5>
                        <select th:field="*{workingHoursScheme}" id="industries">
                            <option value="0">Please select</option>
                            <option th:each="workingHoursScheme : *{workingHoursSchemes}"
                                    th:value="${workingHoursScheme.getId()}"
                                    th:selected="*{workingHoursScheme}"
                                    th:text="${workingHoursScheme.getTitle()}">
                            </option>
                        </select>
                        <!--<p th:each="error: ${#fields.errors('company.industry')}"-->
                           <!--th:text="${error}"-->
                           <!--style="font-size: 20; color: #FF1C19;">Validation error</p>-->
                    </div>

                    <!-- Hourly rate -->
                    <div class="form  required-field">
                        <h5>Vacation granted per month</h5>
                        <input class="search-field" type="number"
                               th:field="*{companyConfig.vacationPerMonth}"
                               name="hourlyRate" placeholder="$0.00" id="vacationPerMonth" step="1"/>
                        <!--<p th:each="error: ${#fields.errors('candidate.hourlyRate')}"-->
                        <!--th:text="${error}"-->
                        <!--style="font-size: 20; color: #FF1C19;">Validation error</p>-->
                    </div>


                    <!-- Hourly rate -->
                    <div class="form  required-field">
                        <h5>Valid vacation period</h5>
                        <input class="search-field" type="number"
                               th:field="*{companyConfig.validVacationPeriod}"
                               name="hourlyRate" placeholder="$0.00" id="validVacationPeriod" step="1"/>
                        <!--<p th:each="error: ${#fields.errors('candidate.hourlyRate')}"-->
                        <!--th:text="${error}"-->
                        <!--style="font-size: 20; color: #FF1C19;">Validation error</p>-->
                    </div>

                    <div>
                        <p class="form-row  required-field">
                            <label for="advance" class="rememberme">
                                <input type="hidden" name="_advance" th:value="*{companyConfig.vacationInAdvanceAllowed}"/>
                                <input name="advance" type="checkbox" id="advance"
                                       th:checked="*{companyConfig.vacationInAdvanceAllowed}"/> Allow employee vacation in advance
                            </label>
                        </p>
                        <!--<p th:each="error: ${#fields.errors('agreed')}"-->
                        <!--th:text="${error}"-->
                        <!--style="font-size: 20; color: #FF1C19;">Validation error</p>-->
                    </div>

                    <div>
                        <p class="form-row  required-field">
                            <label for="agreed" class="rememberme">
                                <input type="hidden" name="_agreed" th:value="*{companyConfig.halfDayTimeOffAllowed}"/>
                                <input name="agreed" type="checkbox" id="agreed"
                                       th:checked="*{companyConfig.halfDayTimeOffAllowed}"/> Allow half day time-off
                            </label>
                        </p>
                        <!--<p th:each="error: ${#fields.errors('agreed')}"-->
                        <!--th:text="${error}"-->
                        <!--style="font-size: 20; color: #FF1C19;">Validation error</p>-->
                    </div>

                    <button id="back" type="submit" name="_eventId_back" class="button big margin-top-5">
                        <i class="fa fa-arrow-circle-left"></i> BACK
                    </button>

                    <button id="update" type="submit" name="_eventId_update"
                            class="button big margin-top-5">
                        UPDATE <i class="fa fa-arrow-circle-right"></i>
                    </button>

                    <div class="clearfix"></div>

                    <a type="button" th:href="@{/admin}"
                       class="button big margin-top-5">
                        CANCEL
                    </a>


                </form>

            </div>
        </div>

    </div>

</section>
</html>



