<!DOCTYPE html>
<!--&lt;!&ndash;[if IE 8 ]>-->
<!--<html class="ie ie8" lang="en"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if (gte IE 9)|!(IE)]>&lt;!&ndash;>-->
<!--<html lang="en"> &lt;!&ndash;<![endif]&ndash;&gt;-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/home">

<section layout:fragment="content" th:remove="tag">

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar">
        <div class="container">
            <div class="ten columns">
                <nav id="breadcrumbs">
                    <ul>
                        <li>You are here:</li>
                        <li>Edit Company Configurations - Step Two</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="container">

        <!-- Submit Page -->
        <div class="sixteen columns">
            <div class="submit-page">


                <form
                        th:action="${flowExecutionUrl}"
                        th:object="${company}"
                        method="post" class="register">

                    <div th:if="*{timeoOffTypes != null}">
                        <div class="widget  required-field">
                            <h4>Time-off types </h4>
                            <h6 class="checkboxes" style="margin-bottom: 0;">
                                <div th:each="type,rowStat : *{timeoOffTypes}">
                                    <input type="hidden"
                                           th:name="${'timeoOffTypes[' + rowStat.index + '].type.title'}"
                                           th:value="${type.title}"/>
                                    <input class="filter_by_check" type="checkbox" th:type="checkbox"
                                           th:name="${'timeoOffTypes[' + rowStat.index + '].valid'}"
                                           th:checked="${type.valid}"
                                           th:value="1"
                                           th:id="${'check_' + __${rowStat.index}__}"/>
                                    <label class="cmn-label" th:for="${'check_' + __${rowStat.index}__}"
                                           th:text="*{timeoOffTypes[__${rowStat.index}__].title}"/>
                                </div>
                            </h6>
                        </div>
                    </div>
                    <button id="back" type="submit" name="_eventId_back" class="button big margin-top-5">
                        <i class="fa fa-arrow-circle-left"></i> Back
                    </button>

                    <button id="next" type="submit" name="_eventId_next" class="button big margin-top-5">
                        Next <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </form>
            </div>
        </div>

    </div>

</section>
</html>