<!DOCTYPE html>
<!--&lt;!&ndash;[if IE 8 ]>-->
<!--<html class="ie ie8" lang="en"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if (gte IE 9)|!(IE)]>&lt;!&ndash;>-->
<!--<html lang="en"> &lt;!&ndash;<![endif]&ndash;&gt;-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/home">

<section layout:fragment="content" th:remove="tag">

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar">
        <div class="container">
            <div class="ten columns">
                <nav id="breadcrumbs">
                    <ul>
                        <li>You are here:</li>
                        <li>Edit Company Configurations - Step One</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- Content
    ================================================== -->
    <div class="container">

        <!-- Submit Page -->
        <div class="sixteen columns">
            <div class="submit-page">

                <form
                        th:action="${flowExecutionUrl}"
                        th:object="${company}"
                        method="post" class="register" id="stepOne">

                    <!-- Name -->
                    <div class="form required-field">
                        <h5>Company:</h5>
                        <input class="search-field" type="text"
                               id="companyName"
                               th:field="*{companyConfig.name}"
                               placeholder="Company Name"/>
                        <!--<p th:each="error: ${#fields.errors('company.name')}"-->
                           <!--th:text="${error}"-->
                           <!--style="font-size: 20; color: #FF1C19;">Validation error</p>-->
                    </div>

                    <!-- Email -->
                    <div class="form  required-field">
                        <h5>Company Email</h5>
                        <input class="search-field" type="text"
                               id="email"
                               th:field="*{companyConfig.email}"
                               placeholder="Email Address"/>
                        <!--<p th:each="error: ${#fields.errors('company.username')}"-->
                           <!--th:text="${error}"-->
                           <!--style="font-size: 20; color: #FF1C19;">Validation error</p>-->
                    </div>

                    <button type="submit" name="_eventId_next" class="button big margin-top-5"> Next
                        <i class="fa fa-arrow-circle-right"></i>
                    </button>

                </form>

            </div>
        </div>

    </div>

</section>
</html>